In [121]:
import pandas as pd
chomage = pd.read_excel('sl_etc_2023T2.xls',sheet_name='Département')

total_rows = len(chomage)
chomage = chomage.iloc[:total_rows - 4]
chomage

,Code,Libellé,T1_1982,T2_1982,T3_1982,T4_1982,T1_1983,T2_1983,T3_1983,T4_1983,...,T1_2021,T2_2021,T3_2021,T4_2021,T1_2022,T2_2022,T3_2022,T4_2022,T1_2023,T2_2023
0,01,AIN,3.8,3.9,4.0,4.1,4.2,4.2,4.4,4.6,...,6.2,5.9,6.0,5.6,5.5,5.5,5.5,5.3,5.3,5.4
1,02,AISNE,8.3,8.4,8.6,8.5,8.5,8.5,8.8,9.2,...,11.1,10.9,11.3,10.7,10.6,10.5,10.5,10.3,10.3,10.3
2,03,ALLIER,7.3,7.5,7.7,7.7,7.7,7.7,7.8,8.4,...,8.3,8.2,8.2,7.8,7.7,7.7,7.7,7.5,7.4,7.6
3,04,ALPES-DE-HAUTE-PROVENCE,5.5,5.6,5.8,6.0,6.1,6.1,6.3,6.6,...,9.2,9.1,8.8,8.3,8.2,8.2,8.4,8.1,7.9,7.9
4,05,HAUTES-ALPES,4.9,4.9,5.0,5.3,5.7,5.8,6.0,6.4,...,9.6,8.0,7.5,7.0,7.1,6.9,7.0,6.7,6.7,6.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,VAL-D'OISE,5.3,5.4,5.5,5.5,5.6,5.6,5.6,5.9,...,9.0,8.7,8.9,8.3,8.1,8.1,8.0,7.9,7.7,7.8
96,971,GUADELOUPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.3,19.5,16.4,15.5,18.1,18.5,18.3,19.3,18.2,19.5
97,972,MARTINIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.8,14.8,13.2,10.9,12.5,13.6,13.3,10.2,12.4,10.7
98,973,GUYANE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.3,13.5,17.1,14.2,15.5,13.3,13.5,10.9,13.9,13.8
99,974,LA REUNION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.5,16.7,18.6,19.0,18.5,18.9,17.6,17.1,18.7,18.8

In [122]:
colonnes_selectionnees = chomage.filter(like='2018').columns.tolist() + \
                         chomage.filter(like='2019').columns.tolist() + \
                         chomage.filter(like='2020').columns.tolist() + \
                         chomage.filter(like='2021').columns.tolist()

nouveau_chomage = chomage[colonnes_selectionnees]
nouveau_chomage

,T1_2018,T2_2018,T3_2018,T4_2018,T1_2019,T2_2019,T3_2019,T4_2019,T1_2020,T2_2020,T3_2020,T4_2020,T1_2021,T2_2021,T3_2021,T4_2021
0,6.4,6.3,6.4,6.2,6.2,6.0,6.1,6.0,5.8,5.6,6.8,6.1,6.2,5.9,6.0,5.6
1,12.8,12.6,12.3,12.0,12.1,11.6,11.6,11.3,11.1,9.5,12.2,11.0,11.1,10.9,11.3,10.7
2,9.6,9.4,9.3,9.1,9.2,8.9,8.8,8.7,8.3,7.8,9.5,8.3,8.3,8.2,8.2,7.8
3,10.7,10.5,10.3,10.2,10.2,9.8,9.8,9.3,8.9,8.4,10.2,8.9,9.2,9.1,8.8,8.3
4,8.5,8.5,8.5,8.3,8.2,8.0,7.9,7.8,7.4,7.1,8.5,7.8,9.6,8.0,7.5,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9.4,9.3,9.1,8.9,8.8,8.5,8.5,8.3,8.1,7.3,9.6,8.9,9.0,8.7,8.9,8.3
96,24.0,21.0,23.5,22.0,21.8,19.5,20.6,20.8,18.9,11.4,19.5,19.7,17.3,19.5,16.4,15.5
97,15.6,18.3,17.1,18.3,16.2,14.4,13.8,15.3,11.8,8.2,15.4,14.2,12.8,14.8,13.2,10.9
98,18.1,19.5,19.2,19.1,17.6,20.2,20.0,19.6,16.4,8.7,18.7,20.5,12.3,13.5,17.1,14.2
99,23.8,24.3,24.3,23.5,22.3,22.1,20.4,20.1,18.9,13.4,19.6,17.1,17.5,16.7,18.6,19.0

In [123]:
moyenne_par_ligne = nouveau_chomage.mean(axis=1)
moyenne_par_ligne

0      6.10000
1     11.50625
2      8.71250
3      9.53750
4      8.03750
        ...
95     8.72500
96    19.46250
97    14.39375
98    17.16875
99    20.10000
Length: 100, dtype: float64

In [124]:
code_postal = chomage['Code'].astype('str')
code_postal

0      01
1      02
2      03
3      04
4      05
     ...
95     95
96    971
97    972
98    973
99    974
Name: Code, Length: 100, dtype: object

In [125]:
data = {
    'Code postal': code_postal,
    'Moyenne Taux Chomage': moyenne_par_ligne
}

moyenne_taux_chomage = pd.DataFrame(data)

print(moyenne_taux_chomage)

   Code postal  Moyenne Taux Chomage
0           01               6.10000
1           02              11.50625
2           03               8.71250
3           04               9.53750
4           05               8.03750
..         ...                   ...
95          95               8.72500
96         971              19.46250
97         972              14.39375
98         973              17.16875
99         974              20.10000

[100 rows x 2 columns]

In [126]:
import pickle

with open('dataframe.pkl', 'rb') as file:
    df = pickle.load(file)

In [127]:
df.shape

(2765530, 20)

In [128]:
df = df.dropna(subset=['Code postal'])
# df = df.dropna(subset=['Surface terrain'])


def tronquer_valeur(valeur):
    str_valeur = str(valeur)
    if len(str_valeur) == 7:
        return int(str_valeur[:2])
    elif len(str_valeur) == 6:
        return int(str_valeur[:1])
    else: 
        return str_valeur

def ajout_0(valeur):
    str_valeur = str(valeur)
    if len(str_valeur) == 1:
        return ('0' + str(str_valeur))
    else: 
        return str_valeur
    
df['Code postal'] = df['Code postal'].astype(str)
df['Code postal'] = df['Code postal'].apply(tronquer_valeur)
df['Code postal'] = df['Code postal'].apply(ajout_0)
df['Code postal'] = df['Code postal'].astype(str)

In [129]:
df_merged = df.merge(moyenne_taux_chomage, on='Code postal', how='left')
df_merged

,No disposition,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Voie,Code postal,Commune,Code commune,Section,...,1er lot,Surface Carrez du 1er lot,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,col_concat,Moyenne Taux Chomage
0,1,04/01/2021,Vente,204332.0,ALL,DES ECUREUILS,01,BUELLAS,65,B,...,NaN,NaN,0,Maison,88.0,4.0,S,866.0,04/01/2021ALL7.00276DES ECUREUILS1310.0BUELLAS,6.10000
1,2,04/01/2021,Vente,226700.0,CHE,DU MOULIN DE POLAIZE,01,POLLIAT,301,AA,...,NaN,NaN,0,Maison,96.0,3.0,NaN,NaN,04/01/2021CHE173.00164DU MOULIN DE POLAIZE1310...,6.10000
2,1,08/01/2021,Vente,185000.0,RUE,DES GRANGES BONNET,01,PERONNAS,289,AD,...,NaN,NaN,0,Maison,100.0,4.0,S,703.0,08/01/2021RUE46.00161DES GRANGES BONNET1960.0P...,6.10000
3,1,07/01/2021,Vente,114500.0,RUE,DE LA MAIRIE,01,FOISSIAT,163,AB,...,NaN,NaN,0,Maison,85.0,2.0,S,87.0,07/01/2021RUE179.00110DE LA MAIRIE1340.0FOISSIAT,6.10000
4,1,08/01/2021,Vente,145000.0,IMP,DE CHAMANDRE,01,FOISSIAT,163,WC,...,NaN,NaN,0,Maison,92.0,1.0,S,2480.0,08/01/2021IMP8.00255DE CHAMANDRE1340.0FOISSIAT,6.10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2765379,1,27/12/2018,Vente,1800.0,PL,DES VOSGES,75,PARIS 04,104,AO,...,109.0,NaN,1,Appartement,20.0,2.0,NaN,NaN,27/12/2018PL9.09917DES VOSGES75004.0PARIS 04,6.63125
2765380,1,28/12/2018,Vente,405000.0,RUE,BEAUTREILLIS,75,PARIS 04,104,AQ,...,16.0,33.87,2,Appartement,34.0,1.0,NaN,NaN,28/12/2018RUE13.00797BEAUTREILLIS75004.0PARIS 04,6.63125
2765381,1,26/12/2018,Vente,220000.0,RUE,DES LIONS SAINT PAUL,75,PARIS 04,104,AQ,...,126.0,NaN,2,Appartement,29.0,1.0,NaN,NaN,26/12/2018RUE14.05702DES LIONS SAINT PAUL75004...,6.63125
2765382,1,03/12/2018,Vente,383000.0,RUE,POISSONNIERE,75,PARIS 02,102,AO,...,9.0,34.78,1,Appartement,34.0,1.0,NaN,NaN,03/12/2018RUE12.07561POISSONNIERE75002.0PARIS 02,6.63125
2765383,1,17/10/2018,Vente,45000.0,RUE,SAINT-DENIS,75,PARIS 02,102,AP,...,57.0,NaN,1,Appartement,11.0,1.0,NaN,NaN,17/10/2018RUE273.08525SAINT-DENIS75002.0PARIS 02,6.63125

In [130]:
print("Pourcentage de ligne sans Taux de chomage :", df_merged['Moyenne Taux Chomage'].isna().sum() / df_merged.shape[0] * 100)

Pourcentage de ligne sans Taux de chomage : 1.4682951807054645

In [131]:
df_merged['Valeur fonciere']

0          204332.0
1          226700.0
2          185000.0
3          114500.0
4          145000.0
             ...
2765379      1800.0
2765380    405000.0
2765381    220000.0
2765382    383000.0
2765383     45000.0
Name: Valeur fonciere, Length: 2765384, dtype: float64

In [132]:
df_merged['prix_par_m2'] = df_merged['Valeur fonciere'] / df_merged['Surface reelle bati']

In [133]:
pd.to_numeric(df_merged['Valeur fonciere'], errors='coerce')

0          204332.0
1          226700.0
2          185000.0
3          114500.0
4          145000.0
             ...
2765379      1800.0
2765380    405000.0
2765381    220000.0
2765382    383000.0
2765383     45000.0
Name: Valeur fonciere, Length: 2765384, dtype: float64

In [134]:
grouped_values = df_merged.groupby('Code postal')['Valeur fonciere'].mean()

df_merged['moyenne_prix_par_m2_par_code_postal'] = df_merged['Code postal'].map(grouped_values)  # Ajoute la moyenne par 'Code postal'
df_merged

,No disposition,Date mutation,Nature mutation,Valeur fonciere,Type de voie,Voie,Code postal,Commune,Code commune,Section,...,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,col_concat,Moyenne Taux Chomage,prix_par_m2,moyenne_prix_par_m2_par_code_postal
0,1,04/01/2021,Vente,204332.0,ALL,DES ECUREUILS,01,BUELLAS,65,B,...,0,Maison,88.0,4.0,S,866.0,04/01/2021ALL7.00276DES ECUREUILS1310.0BUELLAS,6.10000,2321.954545,184483.787842
1,2,04/01/2021,Vente,226700.0,CHE,DU MOULIN DE POLAIZE,01,POLLIAT,301,AA,...,0,Maison,96.0,3.0,NaN,NaN,04/01/2021CHE173.00164DU MOULIN DE POLAIZE1310...,6.10000,2361.458333,184483.787842
2,1,08/01/2021,Vente,185000.0,RUE,DES GRANGES BONNET,01,PERONNAS,289,AD,...,0,Maison,100.0,4.0,S,703.0,08/01/2021RUE46.00161DES GRANGES BONNET1960.0P...,6.10000,1850.000000,184483.787842
3,1,07/01/2021,Vente,114500.0,RUE,DE LA MAIRIE,01,FOISSIAT,163,AB,...,0,Maison,85.0,2.0,S,87.0,07/01/2021RUE179.00110DE LA MAIRIE1340.0FOISSIAT,6.10000,1347.058824,184483.787842
4,1,08/01/2021,Vente,145000.0,IMP,DE CHAMANDRE,01,FOISSIAT,163,WC,...,0,Maison,92.0,1.0,S,2480.0,08/01/2021IMP8.00255DE CHAMANDRE1340.0FOISSIAT,6.10000,1576.086957,184483.787842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2765379,1,27/12/2018,Vente,1800.0,PL,DES VOSGES,75,PARIS 04,104,AO,...,1,Appartement,20.0,2.0,NaN,NaN,27/12/2018PL9.09917DES VOSGES75004.0PARIS 04,6.63125,90.000000,227609.089870
2765380,1,28/12/2018,Vente,405000.0,RUE,BEAUTREILLIS,75,PARIS 04,104,AQ,...,2,Appartement,34.0,1.0,NaN,NaN,28/12/2018RUE13.00797BEAUTREILLIS75004.0PARIS 04,6.63125,11911.764706,227609.089870
2765381,1,26/12/2018,Vente,220000.0,RUE,DES LIONS SAINT PAUL,75,PARIS 04,104,AQ,...,2,Appartement,29.0,1.0,NaN,NaN,26/12/2018RUE14.05702DES LIONS SAINT PAUL75004...,6.63125,7586.206897,227609.089870
2765382,1,03/12/2018,Vente,383000.0,RUE,POISSONNIERE,75,PARIS 02,102,AO,...,1,Appartement,34.0,1.0,NaN,NaN,03/12/2018RUE12.07561POISSONNIERE75002.0PARIS 02,6.63125,11264.705882,227609.089870
2765383,1,17/10/2018,Vente,45000.0,RUE,SAINT-DENIS,75,PARIS 02,102,AP,...,1,Appartement,11.0,1.0,NaN,NaN,17/10/2018RUE273.08525SAINT-DENIS75002.0PARIS 02,6.63125,4090.909091,227609.089870

In [135]:
# Supprimer les lignes où 'Nature mutation' n'est pas 'vente'
df_merged = df_merged.loc[df_merged['Nature mutation'] == 'Vente']

# Vérifier que les lignes ont été supprimées
print(df_merged['Nature mutation'].value_counts())

Nature mutation
Vente    2717931
Name: count, dtype: int64

In [136]:
proportions = df_merged['Nature mutation'].value_counts(normalize=True)
print(proportions)

Nature mutation
Vente    1.0
Name: proportion, dtype: float64

In [137]:
with open('dataframe_version2.pkl', 'wb') as file:
    pickle.dump(df_merged, file)